/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #333;
}

/* Header Section */
.header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.navbar nav a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.navbar nav a:hover {
    color: white;
}

.logo {
    font-weight: 24px;
    color: #f9faf8;
}

/* Container for hero content and image */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* Styling for .hero-content */
.hero-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content button {
    background-color: white;
    color: #007bff;
    border: 2px blue solid;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-content .btn:hover {
    background-color: #0056b3;
    color: white;
}

/* Styling for .hero-image */
.hero-image {
    width: 650px;
    height: 200px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-size: 18px;
}


/* Information Section */
.info-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.info-section h2 {
    margin-bottom: 20px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.info-box {
    width: 150px;
    height: 150px;
    background-color: #f9f9f9;
    border: 2px solid #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #888;
    padding: 10px;
    border-radius: 10px;
}

/* Testimonial Section */
.testimonial {
    padding: 40px 20px;
    background-color: #E5E7EB;
    text-align: center;
    font-style: italic;
}

.testimonial .quote {
    color: #1f2937;
    font-style: light italic;
    padding: 36px;
}

.testimonial .author {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

/* Call to Action Section */
.cta {
    padding: 40px 20px;
    background-color: #3882f6;
    color: white;
    text-align: center;
}

.cta .btn {
    background-color: white;
    color: #007bff;
    padding: 10px 20px;
    border: 2px blue solid;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.cta .btn:hover {
    background-color: #0056b3;
    color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}